/*

	project: interactive media (free css template)
	
	
*/
   
* { margin:0; padding:0; }
body { font: 72.5%/1.7em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif; color:#555; background: #fff url(../images/headerbg.gif) repeat-x; }

/* general styling */
a { color:#007898; background: inherit; border-bottom:1px dotted #ccc; text-decoration:none; }
a:hover { border-bottom:1px solid #ccc; color: #808080; background: inherit; }
a:focus { outline: 0; }
ul { margin:10px 10px 10px 0; padding:0 0 0 15px; }
li { margin:0 0 0 10px; padding:3px; }
img { border: 0; text-decoration: none; }

/* content */
.wrap { padding:0 10px 10px 10px; width:860px; margin:0 auto; }
#logo {float:left; margin: 26px 20px 14px 5px; color:#768998; }
h1 { margin: 0 0 10px; letter-spacing: 1px; font-size: 2em; }
h1 a { color: #fff; }
h1 a:hover { color: #FFFCB3; }
	
/* main navigation */
#nav { float:right; border:none; padding:0; margin: 47px 10px 60px 0; }
#nav li { float:left; list-style:none; margin:0 4px 0 0; padding:0; font-size: 1.1em; }
#nav li a { display:block; padding: 10px 12px 15px; color:#768998; text-decoration:none; border: 0; margin:0 1px 0 0; }
#nav li a:hover, #nav li a.current { background: url(../images/barbg.gif) no-repeat bottom center; color:#fff; }	
	.akey { border-bottom: 1px dotted #4B5761; }

/* main content */
#left { float: left; width: 570px; margin: 0 0 20px 0; }
	#left h2 { float: left; font: 2.1em "Trebuchet MS", Arial; background: url(../images/h2bg.gif) repeat-x bottom; color:#121212; letter-spacing:-1px; margin: 0px 0 20px 0; clear:left; }
	#left h2 a { color:#121212; text-decoration:none; border: 0; }
	#left p { clear: both; margin: 5px 0 20px 0; font-size:110%; line-height:21px; }
	
/* sidebar */
#right {	width:230px; float:right; margin: 0 0 20px 0; }
	#right h2 { color:#fff; margin: 0 0 5px 0; font: bold 1.2em "Trebuchet MS", Arial; background: #fff url(../images/sideh2bg.gif) repeat-x; padding: 4px 10px; border-bottom: 2px solid #000; }
	#right ul { list-style:none; 	border-top:1px solid #eee; border:none; padding:0; margin:0 0 15px 0; }
	#right ul li { border-bottom:1px solid #eee; padding:5px; margin:0; }
	#right ul li a { border: 0; }

	#tagcloud { margin: 0 0 20px; }
	#tagcloud a { margin: 0 5px 0 0; color: #25771F; }
	#tagcloud a:hover { background: #E7FEE5; color: #007898; }
	
	#info { border: 1px solid #ccc; padding: 3px 5px; margin: 0 0 10px; }

#footer { clear: both; border-top: 1px solid #ccc; padding: 20px 0; color:#808080; }
#footer p { line-height: 2.5em; } 
.myButton {
	-moz-box-shadow:inset 0px 1px 1px -17px #ffffff;
	-webkit-box-shadow:inset 0px 1px 1px -17px #ffffff;
	box-shadow:inset 0px 1px 1px -17px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #18324b) );
	background:-moz-linear-gradient( center top, #ededed 5%, #18324b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#18324b');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #18324b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #18324b;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18324b), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #18324b 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#18324b', endColorstr='#ededed');
	background-color:#18324b;
}.myButton:active {
	position:relative;
	top:1px;
}
	-moz-box-shadow:inset 0px 1px 1px -17px #ffffff;
	-webkit-box-shadow:inset 0px 1px 1px -17px #ffffff;
	box-shadow:inset 0px 1px 1px -17px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #18324b) );
	background:-moz-linear-gradient( center top, #ededed 5%, #18324b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#18324b');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.myButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #18324b), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #18324b 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#18324b', endColorstr='#ededed');
	background-color:#18324b;
}.myButton:active {
	position:relative;
	top:1px;
}