{% extends "base.html"%}
{% block content %}

{% if form.errors %}
<p class=”error”>Неверное имя или пароль</p>
{% endif %}
<p>Если хотите потестировать <a href="/filestorage/">FileStorage</a> авторизуйтесь</p>
<form action="" method="post">
    <label for="username"”>Имя пользователя:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
</form>

    <p><a href="/accounts/new/">Новый пользователь</a></p>
{% endblock %}
{% comment %}
<form action="/accounts/new/" method="post">
    <label for="username"”>Имя пользователя:</label>
    <input type="text" name="username" value="" id="username">
    <label for="password">Пароль:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% csrf_token %}
</form>
{% endcomment %}
