{% extends "base.html"%}
{% block content %}

    {{ flatpage.content }}
<hr />
{% load flatpages %}
{% get_flatpages as flatpages %}
<ul>
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}

</ul>
{% endblock %}
