{% extends "base.html"%}
{% block content %}

<p class=”error”>Ошибка создания записи. <b>{{ error_msg }}</b></p>

<p><a href="/accounts/new/">Попробовать еще раз</a></p>
<p><a href="/profile/">Вернуться на страницу входа</a></p>
{% endblock %}
