{% extends "base.html"%}
{% block content %}
{% load smart_if %}
<p><a href="/profile/">Ваша страница</a></p>
<p>Файл {{ user_file_name }} объемом {{ filesize2 }} был успешно загружен</p>
<!--
<p>Был загружен файл c суммами {{ filehash2 }}</p>
-->
{%  if  previous_file_list %}
<p>К Вашему сведению:</p>
{% for list in previous_file_list %}
<p>Пользователь <b>{{ list.username }}</b> ранее уже загрузил такой же файл как &quot;{{ list.name }}&quot;</p>
{% endfor %}
{% endif %}
<p>Всего Вами загружено файлов {{ file_counter }} из {{ mfn }}</p>
{% if  file_counter >= mfn %}
<p>У вас предельное количество файлов!</p>
{% else %}
<form method="post" action="/upload/" enctype="multipart/form-data">
<p>Выберите файл для еще одной загрузки {{  fupl_html }}
{% csrf_token %}
  <input type="submit" value="Upload" name="submit"></p>

</form>

{% endif %}
<a href="/accounts/logout/">выйти</a>
<br /><br /><br />
{% endblock %}
{% comment %}
{{ request }}
{% endcomment %}
