{% extends "base.html"%}
{%  load smart_if %}
{% block content %}
<p>Личная страница <b>{{ request.user.username }}</b> всего файлов {{ file_counter }} из {{ mfn }}</p>
{% if  file_counter >= mfn %}
<p>У вас предельное количество файлов!</p>
{% else %}
<form method="post" action="/upload/" enctype="multipart/form-data">
<p>Выберите файл для загрузки {{  fupl_html }}
{% csrf_token %}
<input type="submit" value="Upload" name="submit"></p>
</form>
{% endif %}
{% if filelist %}
<table>
{% for list in filelist %}
<tr><td><a href="/get/{{list.filehash}}/{{ list.name }}">{{ list.name }}</a></td><td>{{list.filesize }}</td>
<td><a href="/rem/{{list.filehash }}/{{ list.name }}">удалить</a></td></tr>
{% endfor %}
</table>
{% endif %}


<a href="/accounts/logout/">выйти</a>
{% endblock %}
