{% extends "base.html"%}
{% block content %}

<p>Будем Вам рады: <b>{{ request.user.username }}</b></p>
<p>Запишите пароль: {{ psw }}</p>
<p><a href="/profile/">Перейти на Вашу страницу</a></p>
<br /><br />
<a href="/accounts/logout/">выйти</a>
{% endblock %}
