{% extends "base.html"%}
{% block content %}

{% if form.errors %}
<p class="error">Неверное имя или пароль</p>
{% endif %}
<p>Будем рады Вашей регистрации на этом сайте. Пароль не менее трех символов</p>
<p>Пожалуйста, не указывайте свои "боевые" пароли!</p>
<form action="" method="post">
{{ fnew }}
    {% csrf_token %}
<input type="submit" value="Зарегистрироваться" name="submit">
</form>
{% endblock %}

