<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="screen, projection" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <title>SandBox / Песочница {{ flatpage.title }}</title>
<script type="text/javascript">
$(function () {
  $("button:first").click(function(){
    /*$("#target").load("testAjaxSetup.php");*/
    $("#target").load("/time/");
  });
  $("button:eq(1)").click(function(){
    $("#target").text("Einstein@Home, обновление статуса раз в несколько часов");   /* empty();*/
  });
});
</script>
</head>
<body id="home">
<div class="wrap">
    <div id="logo">
        <h1><a href="/" title="Home">COGITO ERGO SUM</a></h1>
        <p>Dies diem docet</p>
    </div>
    <ul id="nav">
        <!-- li><a class="current" href="." accesskey="h"><span class="akey">H</span>ome</a></li -->
        <li><a href="/" accesskey="h"><span class="akey">H</span>ome</a></li>
        <li><a href="/profile/" accesskey="p"><span class="akey">P</span>rofile</a></li>
        <li><a href="/about/filestorage/" accesskey="f"><span class="akey">F</span>ileStorage</a></li>
        <!-- li><a href="#" accesskey="r"><span class="akey">R</span>eferences</a></li>
        <li><a href="#" accesskey="c"><span class="akey">C</span>onsulting</a></li -->
        <li><a href="/about/contact/" accesskey="t">Con<span class="akey">t</span>act</a></li>
        {%  if request.user.username %}
        <li><a href="/accounts/logout/" accesskey="l"><span class="akey">L</span>ogout</a></li>
        {% else %}
        <li><a href="/accounts/login/" accesskey="l"><span class="akey">L</span>ogin</a></li>
        {% endif %}

    </ul>
</div>
<div class="wrap">
    <div id="left">
<!-- {{ STATIC_URL }} {{ MEDIA_URL }} {{ STORE_PATH  }}-->
{% block content %}
{% endblock %}
    </div>
    <div id="right">
     <div id="target">Сервер участвует в Einstein@Home</div>
<button class="myButton">Запросить cтатус E@H</button><button class="myButton">Очистить</button>
     </div>
        <div id="footer">
         <!--   <p><strong>Blog:</strong> <a href=".">Home</a> &middot; <a href="/about/">About</a> &middot; <a href="#">Media</a> &middot; <a href="#">References</a> &middot; <a href="#">Consulting</a> &middot; <a href="#">Contact</a></p>
            <p><strong>Network:</strong> <a href="#">Network site #1</a> &middot;  <a href="#">Network site #2</a> &middot;  <a href="#">Network site #3</a> &middot;  <a href="#">Network site #4</a></p>
-->
        </div>

<hr />


</body>
</html>
